body {
  direction:rtl;
}

dt {
  float: right;
  margin-left: 0.7%;
}

.contact dt, .contact dd {
  direction:ltr;
}

.contact dt{
  float: left;
}

.contact dd.address, .contact dd.birthday {
  direction:rtl;
}
