.imgs-wrapper {
	display: grid;
  grid-gap: 10px;
	grid-template-columns: [col1-start] auto [col2-start];
	grid-template-rows: [row1-start] auto [row2-start] auto [row3-start];
	background-color: #fff;
	color: #444;
  direction: ltr;
}

.right {
	grid-column: col2-start ;
	grid-row: row1-start / row3-end;
}
.left1 {
	grid-column: col1-start;
	grid-row: row1-start;
}
.left2 {
	grid-column: col1-start;
	grid-row: row2-start ;
}
.left3 {
	grid-column: col1-start ;
	grid-row: row3-start;
}
