h2{
  color: #277CC8;
}

h3{
  color: #434343;
}

h4{
  font-size:1.1em;
}

h5{
  font-size:1em;
}

dt {
  font-weight: bold;
}

dt::after {
  content: ":";
}

.contact dt::after {
  content: "";
}

dd {
  margin-bottom: 0.5em;
}

.icon {
  display: inline-block;
  height: 1em;
}

.contact {
  width: 300px;
}

.skills {
  direction:ltr;
}

.skills dt {
  float: left;
  margin-right: 0.7%;
}
