@media (min-width: 521px) {
  .title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .mobileOnly {
    display: none;
  }
}
@media (min-width: 21cm) {
  body {
    width: 21cm;
    margin: auto;
  }
}

@media (max-width: 521px) {
  .desktopOnly {
    display: none;
  }
}

.contact {
  float: left;
}

div.education {
  clear: both;
}
